<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3LL Station Report</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    style="
      font-family: Lexend, Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 20px;
      background-color: white;
    "
  >
    <div style="max-width: 600px; margin: 0 auto">
      <h2 style="font-size: 18px; font-weight: normal; margin-bottom: 20px">
        Hello,
      </h2>

      <p style="font-size: 18px; margin-bottom: 5px">
        Here's your wellbeing report from W3LL Station.
      </p>
      <p style="font-size: 18px; margin-top: 0">
        Click on "Access Report" to view your report anytime, anywhere!
      </p>

      <div style="text-align: center; margin: 30px 0">
        <div style="text-align: center; margin: 30px 0">
          <a
            href="{report_link}"
            style="
              background-color: #f5703d;
              color: black;
              width: 176px;
              height: 40px;
              line-height: 40px;
              text-decoration: none;
              border-radius: 12px;
              font-size: 20px;
              font-family: Lexend, Arial, sans-serif;
              display: inline-block;
              font-weight: 400;
            "
            >Access Report</a
          >
        </div>
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
          "
        >
          <h2 style="margin-top: 48px">Receive Clinical Insights On-the-Go</h2>
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 16px;
            "
          >
            <img
              src="{companion_logo_url}"
              alt="Companion Logo"
              style="width: 124px; height: 84px"
            />
            <div style="display: flex; flex-direction: column; gap: 8px">
              <h2 style="font-size: 18px; font-weight: 700">
                Your Intelligent Wellbeing Companion.
              </h2>
              <h5 style="font-size: 16px; font-weight: 400">
                Uncover patterns in your behaviours and receive clinical
                insights to manage your moods.
              </h5>
            </div>
          </div>
        </div>

        <a
          href="{waitlist_link}"
          target="_blank"
          rel="noopener noreferrer"
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            background-color: black;
            border-radius: 40px;
            max-width: 280px;
            text-decoration: none;
            padding: 16px;
          "
        >
          <img
            src="{girl_holding_phone}"
            alt="Girl Holding Phone"
            style="width: 128px; height: 128px; border-radius: 30px"
          />
          <p style="font-size: 18px; font-weight: 700; color: white">
            Join the waitlist today for free access!
          </p>
        </a>
      </div>

      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
        "
      >
        <p style="font-size: 18px; margin-top: 48px">
          Meanwhile, we have gathered some perks from local brands designed to
          support your journey to holistic wellbeing :-)
        </p>

        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
          "
        >
          <div style="display: flex; flex-direction: column">
            <a
              href="{catch_link}"
              style="
                font-size: 16px;
                color: black;
                text-decoration: underline;
                font-weight: bold;
              "
              >Catch.sg</a
            >
            <p style="font-size: 16px">
              Sign up for free on Catch.sg - gain access to membership
              exclusives with the Official Arts & Culture Media for Singapore.
            </p>
          </div>

          <div style="display: flex; flex-direction: column">
            <a
              href="{coco_veda}"
              style="
                font-size: 16px;
                color: black;
                text-decoration: underline;
                font-weight: bold;
              "
              >Coco Veda</a
            >
            <p style="font-size: 16px">
              Heal and prevent ailments in the body, mind and spirit through
              handcrafted, natural and plant-based health and wellness products.
              Quote "<strong>W3LL Station</strong>" during the checkout to enjoy
              15% off.
            </p>
          </div>

          <div style="display: flex; flex-direction: column">
            <a
              href="{tea_link}"
              style="
                font-size: 16px;
                color: black;
                text-decoration: underline;
                font-weight: bold;
              "
              >Tea Ideas</a
            >
            <p style="font-size: 16px">
              Enjoy wellbeing teas for stress management and quote "<strong
                >W3LL Station</strong
              >" during the checkout to enjoy SGD 5 off for Tea Wands and
              Gyokuro Green Tea.
            </p>
          </div>
        </div>
      </div>

      <div style="margin-top: 40px">
        <p style="font-size: 18px; margin: 10px 0">
          A Healthier You, A Better World.
        </p>

        <img
          src="{logo_url}"
          alt="Universal Health Logo"
          style="width: 150px; margin-top: 15px"
        />
      </div>
    </div>
  </body>
</html>
